{% extends 'layout.html' %}
  
{% block title %}Categorías{% endblock %}

{% block content %}
    <div class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero">
                    <h1>Categorías</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row">

            <div class="col-lg-4 my-4">
                <a href="{{url_for('add_category')}}" class="hero-squares">
                    <h1>Añadir nueva categoría</h1>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>

            <div class="col-lg-4 my-4">
                <a href="{{url_for('select_category_update')}}" class="hero-squares">
                    <h1>Actualizar categoría existente</h1>
                    <i class="fa-solid fa-arrow-up"></i>
                </a>
            </div>

            <div class="col-lg-4 my-4">
                <a href="{{url_for('select_category_delete')}}" class="hero-squares">
                    <h1>Eliminar categoría</h1>
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>

        </div>
    </div>

    <div class="section"> 
        <div class="row my-4">
            <div class="col-lg-12">
                <h3>Listado de categorias</h3>
            </div>
            {% for categoria in categorias %}
            <div class="col-lg-3 col-sm-6 my-4">
                <a href="{{ url_for('category_page', category_name=categoria.category_name) }}"><div class="cuadro-producto p-4">
                    <h3>{{categoria.category_name}}</h3>
                </div></a>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}