{% extends 'layout.html' %}
  
{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero">
                    <h1>Productos</h1>
                    <form action="/search" autocomplete="off" method="get">
                        <input type="text" name="q">
                        <button type="submit">Busca el producto deseado</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row my-4">
            <div class="col-lg-12">
                <h3>Top 3 categorías con más productos:</h3>
            </div>
        </div>
    </div>

    
    <div class="tab">
        {% for categoria in top_categories %}
        <a href="{{ url_for('category_page', category_name=categoria._id) }}" class="tablinks" >{{categoria._id}}</a>
        {% endfor %}
    </div>
    

    <div class="section">
        <div class="row my-4">
            <div class="col-lg-12">
                <h3>Productos Ordenados Por:</h3>
            </div>
        </div>
    </div>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Normal')" id="defaultOpen">Normal</button>
        <button class="tablinks" onclick="openTab(event, 'Sorted')">Por Precio</button>
        <button class="tablinks" onclick="openTab(event, 'Stock')">Por Cantidad</button>
    </div>
    
    <div id="Normal" class="tabcontent">
        <div class="section"> 
            <div class="row my-4">
                {% for producto in productos %}
                <div class="col-lg-3 col-sm-6 my-4">
                    <div class="cuadro-producto">
                        <img class="w-100" src="{{producto.thumbnail}}">
                        <h3>{{producto.title}}</h3>
                        <p>${{producto.price}} | Disponibles:&nbsp{{producto.stock}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div id="Sorted" class="tabcontent">
        <div class="section"> 
            <div class="row my-4">
                {% for producto in productos_sorted %}
                <div class="col-lg-3 col-sm-6 my-4">
                    <div class="cuadro-producto">
                        <img class="w-100" src="{{producto.thumbnail}}">
                        <h3>{{producto.title}}</h3>
                        <p>${{producto.price}} | Disponibles:&nbsp{{producto.stock}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div id="Stock" class="tabcontent">
        <div class="section"> 
            <div class="row my-4">
                {% for producto in productos_stock %}
                <div class="col-lg-3 col-sm-6 my-4">
                    <div class="cuadro-producto">
                        <img class="w-100" src="{{producto.thumbnail}}">
                        <h3>{{producto.title}}</h3>
                        <p>${{producto.price}} | Disponibles:&nbsp{{producto.stock}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    

{% endblock %}

{% block end_scripts %}

    <script>
        function openTab(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

    <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

{% endblock %}