{% extends 'layout.html' %}
  
{% block title %}Manejo de Productos{% endblock %}

{% block content %}
    <div class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero">
                    <h1>Productos</h1>
                    <form action="/search" autocomplete="off" method="get">
                        <input type="text" name="q">
                        <button type="submit">Busca el producto deseado</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row">

            <div class="col-lg-4 my-4">
                <a href="{{url_for('add_producto')}}" class="hero-squares">
                    <h1>Añadir nuevo producto</h1>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>

            <div class="col-lg-4 my-4">
                <a href="{{url_for('select_producto_update')}}" class="hero-squares">
                    <h1>Actualizar producto existente</h1>
                    <i class="fa-solid fa-arrow-up"></i>
                </a>
            </div>

            <div class="col-lg-4 my-4">
                <a href="{{url_for('select_producto_delete')}}" class="hero-squares">
                    <h1>Eliminar producto</h1>
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>

        </div>
    </div>

    <div class="section"> 
        <div class="row my-4">
            <div class="col-lg-12">
                <h3>Listado de productos</h3>
            </div>
            {% for producto in productos %}
            <div class="col-lg-3 col-sm-6 my-4">
                <div class="cuadro-producto">
                    <img class="w-100" src="{{producto.thumbnail}}">
                    <h3>{{producto.title}}</h3>
                    <p>${{producto.price}} | Disponibles:&nbsp{{producto.stock}}</p>
                </div>
            </div>
            {% endfor %}
            <div class="col-lg-12">
                <div class="pagination">
                    {% if page > 1 %}
                        <a class="button" href="{{ url_for('productos', page=page - 1) }}">Página Anterior</a>
                    {% else %}
                        <div></div>
                    {% endif %}
                    <div class="pagination_numbers">
                    {% if page > 1 %}
                        <a href="{{ url_for('productos', page=page - 1) }}">{{ page - 1}}</a>
                    {% endif %}
                        <strong>{{page}}</strong>
                    {% if (page * products_per_page) < total_products %}    
                        <a href="{{ url_for('productos', page=page + 1) }}">{{ page + 1}}</a>
                    {% endif %}
                    </div>
                    {% if (page * products_per_page) < total_products %}
                        <a class="button" href="{{ url_for('productos', page=page + 1) }}">Siguiente Página</a>
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}